<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
<p class="titulo">Livros Cadastrar</p>
<hr>
<br>
<div class="container1">
    <div class="informacoes1">
        <h3 class="text1-1">Nome do livro</h3>
        <p class="p1-1">Lorem ipsum is DESCRIÇÃO DO LIVRO he printing <br>
        and typesetting industry. Lorem ipsum has been <br>
        the industry's standard dummy text ever since th</p>
        <br>
        <h4 class="h4-1-1">categorias</h4>
        <p class="pc1">R$50,00</p>

        <div class="btn11">
    <a href="./detalhes.html">Ver detalhes</a>
               </div>
               <div class="btn2-1">
                <a href="./atualizar.html">Editar</a>
                   </div>
                   <div class="btn3-1">
                    <a href="./excluir.html">Excluir</a>
                       </div>
    </div>
    <div class="container2">
    <div class="informacoes2">
        <h3 class="text1-2">Nome do livro</h3>
        <p class="p1-2">Lorem ipsum is DESCRIÇÃO DO LIVRO he printing <br>
        and typesetting industry. Lorem ipsum has been <br>
        the industry's standard dummy text ever since th</p>
        <br>
        <h4 class="h4-1-2">categorias</h4>
        <p class="pc2">R$50,00</p>

        <div class="btn22">
            <a href="./detalhes.html">Ver detalhes</a>
               </div>
               <div class="btn2-2">
                <a href="./atualizar.html">Editar</a>
                   </div>
                   <div class="btn3-2">
                    <a href="./excluir.html">Excluir</a>
                       </div>
    </div>
</div>
<div class="container3">
    <div class="informacoes3">
        <h3 class="text1-3">Nome do livro</h3>
        <p class="p1-3">Lorem ipsum is DESCRIÇÃO DO LIVRO he printing <br>
        and typesetting industry. Lorem ipsum has been <br>
        the industry's standard dummy text ever since th</p>
        <br>
        <h4 class="h4-1-3">categorias</h4>
        <p class="pc2">R$50,00</p>

        <div class="btn33">
            <a href="./detalhes.html">Ver detalhes</a>
               </div>
               <div class="btn2-3">
                <a href="./atualizar.html">Editar</a>
                   </div>
                   <div class="btn3-3">
                    <a href="./excluir.html">Excluir</a>
                       </div>
    </div>
</div>
<div class="container4">
    <div class="informacoes4">
        <h3 class="text1-4">Nome do livro</h3>
        <p class="p1-4">Lorem ipsum is DESCRIÇÃO DO LIVRO he printing <br>
        and typesetting industry. Lorem ipsum has been <br>
        the industry's standard dummy text ever since th</p>
        <br>
        <h4 class="h4-1-4">categorias</h4>
        <p class="pc4">R$50,00</p>

        <div class="btn44">
            <a href="./detalhes.html">Ver detalhes</a>
               </div>
               <div class="btn2-4">
                <a href="./atualizar.html">Editar</a>
                   </div>
                   <div class="btn3-4">
                    <a href="./excluir.html">Excluir</a>
                       </div>
    </div>
</div>
<div class="container5">
    <div class="informacoes5">
        <h3 class="text1-5">Nome do livro</h3>
        <p class="p1-5">Lorem ipsum is DESCRIÇÃO DO LIVRO he printing <br>
        and typesetting industry. Lorem ipsum has been <br>
        the industry's standard dummy text ever since th</p>
        <br>
        <h4 class="h4-1-5">categorias</h4>
        <p class="pc5">R$50,00</p>

        <div class="btn55">
            <a href="./detalhes.html">Ver detalhes</a>
               </div>
               <div class="btn2-5">
                <a href="./atualizar.html">Editar</a>
                   </div>
                   <div class="btn3-5">
                    <a href="./excluir.html">Excluir</a>
                       </div>
    </div>
</div>
<div class="container6">
    <div class="informacoes6">
        <h3 class="text1-6">Nome do livro</h3>
        <p class="p1-6">Lorem ipsum is DESCRIÇÃO DO LIVRO he printing <br>
        and typesetting industry. Lorem ipsum has been <br>
        the industry's standard dummy text ever since th</p>
        <br>
        <h4 class="h4-1-6">categorias</h4>
        <p class="pc5">R$50,00</p>

        <div class="btn66">
            <a href="./detalhes.html">Ver detalhes</a>
               </div>
               <div class="btn2-6">
                <a href="./atualizar.html">Editar</a>
                   </div>
                   <div class="btn3-6">
                    <a href="./excluir.html">Excluir</a>
                       </div>
    </div>
</div>
</div>

<hr class="rodape">
<p class="fim">RODAPÉ</p>
</body>
</html>